.wrap-iframe{
    width: 52%;
    position: relative;
    float: left;
}

.iframe-admin .donate.postbox{
    max-width: 462px;
    width: 471px;
}

.add{
    position: absolute;
    left: 101%;
    top: 10px;
}

.text-hide{
    display: none;
}

.text-hide.show{
    display: block;
}

.add.mob, .mob-text{
    display: none;
}

.iframe-admin .pluginHome{
    background: url("../img/icon-arne.gif") 0 8px no-repeat;
}

.iframe-admin .pluginSupport{
    background: url("../img/icon-trac.gif") 0 8px no-repeat;
}

.iframe-admin .pluginBugs{
    background: url("../img/icon-wordpress.gif") 0 11px no-repeat;
}


.iframe-admin .wp-core-ui{
    margin-top: 10px;
}

.iframe-admin .postbox{
    max-width: 200px;
    float: right;
}

.iframe-admin form p{
    width: 44%;
    float: right;
    font-style:italic;
    font-size:12px;
}

.close-tab{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/close.png);
    background-size: contain;
}

.c-tabs-nav a:first-child .close-tab{
    display: none;
}

.c-tabs-nav a{
    position: relative;
}

.iframe-admin input, .iframe-admin textarea{
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-iframe{
    min-height: 88px;
}

.iframe-admin select{
    margin: 5px 0 10px 0;
}

.iframe-admin label{
    display: block;
    font-size: 14px;
}

.iframe-admin input[type=submit]{
    cursor: pointer
}

.add{
    margin: 0 5px 0 5px;
    padding: 6px 10px 9px 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 22px;
    line-height: 13px;

    outline: none;
    cursor: pointer;
}

.iframe-admin .hndle{
    padding: 10px 12px;
    margin: 0;
}

.iframe-admin .inside a{
    display: block;
    padding: 7px 0 7px 22px;
}

.iframe-admin a {
    color: #000;
    text-decoration: none;
}

.iframe-admin a:hover {
    color: #000;
}

.iframe-admin b,
strong {
    font-weight: 700;
}

.iframe-admin i,
.iframe-admin em {
    font-style: italic;
}

.iframe-admin img {
    max-width: 100%;
    height: auto;
}

.o-container {
    margin: 0 auto;
}


.o-header {
    margin: 0;
    padding: 0;
}

.o-header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #dc446e;
}

.o-header-nav__link {
    padding: 12px;
    color: #fff;
}

.o-header-nav__link:hover {
    color: #fff;
    background-color: #9d1d41;
}

.o-header__title {
    margin: 24px;
    padding: 0;
    color: #818181;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

@media all and (min-width: 480px) {
    .o-header__title {
        margin: 36px;
        font-size: 42px;
    }
}

.o-section {
    margin-bottom: 24px;
}

.o-section:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 720px) {
    .o-section {
        margin-bottom: 48px;
    }
}

.o-sub-nav {
    margin: 0;
    padding: 0;
}

.o-sub-nav__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.o-sub-nav__item {
    margin: 0;
    padding: 4px;
}

.o-sub-nav__link {
    display: block;
    margin: 0;
    padding: 4px 24px;
    border: solid 2px #dc446e;
}

.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
    color: #fff;
    background-color: #dc446e;
}

.o-footer {
    padding: 12px 0;
    text-align: center;
}

@media all and (min-width: 480px) {
    .o-footer {
        padding: 24px 0;
    }
}

@media all and (min-width: 720px) {
    .o-footer {
        padding: 48px 0;
    }
}

.c-tabs-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-tabs-nav__link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 4px;
    padding: 8px;
    color: #fff;
    background-color: #cdcdcd;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
    margin-right: 0;
}

.c-tabs-nav__link:hover {
    color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
    color: #000;
    background-color: #a7a7a7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.c-tabs-nav__link i {
    font-size: 18px;
}

.c-tabs-nav__link span {
    font-size: 14px;
}

@media all and (min-width: 720px) {
    .c-tabs-nav__link i {
        margin-bottom: 12px;
        font-size: 22px;
    }
    .c-tabs-nav__link span {
        display: block;
    }
}

.c-tab {
    display: none;
    background-color: #e7e7e7;
}

.c-tab.is-active {
    display: block !important;
}

.c-tab__content {
    padding: 1.5rem 1.5rem 12px 1.5rem;
}

.bottom-text{
    margin-top: 10px;
}

.c-tabs.no-js .c-tab {
    display: block;
    margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
    margin-bottom: 0;
}

#carbonads {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    padding: 24px 12px 12px 12px;
    width: 154px;
    background-color: #fff;
    line-height: 1.1;
    border: solid 1px #e7e7e7;
}

.carbon-wrap {
    display: block;
    margin: 0 0 4px 0;
}

.carbon-img {
    display: block;
    margin: 0 0 4px 0;
    padding: 0;
    width: 130px;
    height: 100px;
}

.carbon-text {
    color: #818181;
    font-size: 12px;
}

.carbon-poweredby {
    font-size: 10px;
    font-style: italic;
}

.carbonad__close {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

.o-main{
    margin-top: 10px;
}

.o-section, .o-main{
    position: relative;
}

.iframe-admin .button-primary{
    position: absolute;
    top: 101%;
}

.c-tab__content > div{
    width: 100%;
    overflow: hidden;
}

@media all and (max-width: 1050px){
    .wrap-iframe {
        width: 52%;
    }

}

@media all and (max-width: 1150px){
    .iframe-admin .donate.postbox {
        clear: both;
        width: 100%;
        float: left;
        margin-top: 50px;
    }
}


@media all and (max-width: 1050px){
    .wrap-iframe {
        width: 60%;
    }
}

@media all and (max-width: 900px){
    .wrap-iframe {
        width: 90%;
    }

    .iframe-admin .postbox {
        max-width: 200px;
        float: left;
        margin-top: 48px;
    }
}


@media all and (max-width: 600px){
    .add {
        margin: 10px 0 0 0;
        position: absolute;
        right: 0;
        left:  auto;
        top: -44px;
    }

    .add.mob{
        display: block;
        position: static;
        margin: 61px 0 5px 0;
        float: left;
    }

    .mob-text{
        display: block;
        float: left;
        margin: 67px 0 5px 10px;
    }

    .wrap-iframe {
        width: 100%;
    }

    .c-tabs-nav{
        flex-wrap: wrap;
    }

    .c-tabs-nav__link {
        flex: auto;
        width: 25%;
        margin-right: 0;
        /* border: 1px solid #000; */
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .c-tabs-nav__link:nth-child(3n){
        margin-right: 0;
    }

    .iframe-admin .postbox {
        max-width: 100%;
        margin-top: 18px;
    }

    .postbox {
        min-width: 100%;
    }

    .iframe-admin input, .iframe-admin textarea{
        width: 100%;
    }

    .iframe-admin form p{
        width: 100%;
        float: none;
        margin-top: -6px;
    }

    .iframe-admin select{
        width: 100%;
    }
}

